<div class="mb-5">

  <h2 style='display: inline-block; margin-bottom: 25px;'>
    <%= companyName %> news
  </h2>

  <div class="row mx-auto">
    <% data.map((x)=> { %>
      <div itemScope itemType="https://schema.org/NewsArticle" style='margin-bottom: 20px;' class="col">


        <div class="card" style="width: 18rem;">
          <img src="<%= x.image %>" class="card-img-top img-fluid" alt="<%= x.site %> article image" itemprop="image">
          <div class="card-body">
            <h3 class="card-title" itemprop="headline" style="font-size: 20px;">
              <%= x.title %>
            </h3>
            <div class="card-subtitle mb-2 text-muted" itemprop="datePublished" >
              <%= x.publishedDate.split(' ')[0]%></div>
            <p class="card-text">
              <%= x.text.slice(0,100)  %>
            </p>
            <a href="<%= x.url %>" class="btn btn-primary" target="_blank" role="noreferrer" title="Read more on <%= companyName %> on <%= x.site %>" itemprop="url">Read more on <%= x.site %></a>
          </div>
        </div>






      </div>
      <% }) %>
  </div>

</div>