<div class="mb-5">

  <h2 style='display: inline-block; margin-bottom: 25px;'>
    <%= companyName %> news
  </h2>

  <div class="row">
    <% data.map((x)=> { %>
      <div itemScope itemType="https://schema.org/NewsArticle" style='margin-bottom: 20px;' class="col">


        <div class="card" style="width: 18rem;">
          <img src="<%= x.image %>" class="card-img-top img-fluid" alt="<%= x.site %> article image" itemprop="image">
          <div class="card-body">
            <h3 class="card-title" itemprop="headline" style="font-size: 20px;">
              <%= x.title %>
            </h3>
            <div class="card-subtitle mb-2 text-muted" itemprop="datePublished">
              <%= x.publishedDate.split(' ')[0]%></div>
            <p class="card-text">
              <%= x.text.slice(0,100)  %>
            </p>

            <% if (x.url.indexOf("https://www.youtube.com") !== -1) { %>
              <a href="<%= x.url %>" class="btn btn-danger" target="_blank" rel="noreferrer" title="Watch <%= x.site %> on YouTube" itemprop="url"><svg style="margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
                <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
              </svg> Watch on YouTube</a>
            <% } else { %>
               <a href="<%= x.url %>" class="btn btn-primary" target="_blank" rel="noreferrer" title="Read more on <%= companyName %> on <%= x.site %>" itemprop="url">Read more on <%= x.site %></a>
            <% } %>

            
          </div>
        </div>






      </div>
      <% }) %>
  </div>

</div>