<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= insider_data.company_profile.name %> (<%= insider_data.company_profile.symbol %>) Insider Trading Activity</title>
  <link rel="stylesheet" href="/bootstrap.min.css" />
  <script src="/bootstrap.min.js"></script>
  <meta name="description" content="Get the latest insider trades for <%= insider_data.company_profile.name %>" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://stockwasp.com/insider/<%= insider_data.company_profile.symbol.toLowerCase() %>" />
  <meta property="og:image" content="<%= insider_data.company_profile.image %>" />
  <meta property="og:site_name" content="StockWasp" />
  <meta property="og:title" content="<%= insider_data.company_profile.name %> Insider Trading" />
  <meta property="og:description" content="Get the latest insider trades for <%= insider_data.company_profile.name %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://stockwasp.com/insider/<%= insider_data.company_profile.symbol.toLowerCase() %>" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="https://stockwasp.com/insider/<%= insider_data.company_profile.symbol.toLowerCase() %>" />
  <meta name="twitter:title" content="<%= insider_data.company_profile.name %> (<%= insider_data.company_profile.symbol %>) Insider Trading Activity" />
  <meta name="twitter:description" content="Get the latest insider trades for <%= insider_data.company_profile.name %>" />
  <meta name="twitter:image" content="<%= insider_data.company_profile.image %>" />
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <%- include('./components/googleAnalytics.ejs') %>
</head>

<body>
  <%- include('./components/Nav.ejs', {current_page: 'insider' }) %>
  <div class="container pt-5 mb-5" itemScope itemType="https://schema.org/Corporation">
    <img src="<%= insider_data.company_profile.image %>" height="50" width='50' class="img-fluid" alt="<%= insider_data.company_profile.name %> logo" style='margin-bottom: 10px;' itemprop="logo" />
    <h1 itemprop="legalName">
      <%= insider_data.company_profile.name %> Insider Trading
    </h1>
    <div class="text-secondary mt-3 mb-5"><span itemprop="tickerSymbol">
        <%= insider_data.company_profile.symbol %>
      </span> | <%= insider_data.company_profile.exchange %>
      <a style="color: black; text-decoration: none;" href="/stock/<%= insider_data.company_profile.symbol.toLowerCase() %>" title="<%= insider_data.company_profile.name %> current stock price">
        <span style="margin-left: 20px; background-color: rgb(113, 44, 249, .2); padding: 12px; border-radius: 20px; ">
          <%= insider_data.company_profile.symbol %> stock price
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
          </svg>

        </span>
      </a>

    </div>

    <p class="mt-4" style="max-width: 750px;">Showing <%= insider_data.insider_reports.length %> of the latest insider trades from <%= insider_data.company_profile.name %> filed with
      the SEC. The most recent trade transaction date was on <%= new
            Date(insider_data.insider_reports[0].transactionDate) %>. <strong>
        <%= insider_data.ordered_trades[0].name %>
      </strong> has had
      the most transactions during this period, with <%= insider_data.ordered_trades[0].trades %> confirmed trades.
      Below is a complete break-down of all <%= insider_data.ordered_trades.length %> company insiders who transferred securities: </p>
    <ul>
      <% insider_data.ordered_trades.map(x => { %>
      <% if (x.trades == 1) { %>
      <li><%= x.name %> - <%= x.trades %> trade</li>
      <% } else { %>
      <li><%= x.name %> - <%= x.trades %> trades</li>
      <% }%>

      <% })%>
    </ul>

    <hr>
    <ul class="list-group">

      <% insider_data.insider_reports.map(x=> { %>
      <li class="list-group-item">
        <div class="row p-4">
          <div class="col-md-7 mb-4">
            <div itemprop="employee" itemscope itemtype="https://schema.org/Person">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
              <span style="display: inline-block;" itemprop="name">
                <%= x.person.toUpperCase() %>
              </span>
              <span class="text-secondary mb-3" style="display: block;">Position: <span itemprop="jobTitle">
                  <%= x.person_position %>
                </span></span>
            </div>

            <span style="display: block;">Transaction date: <%= x.transactionDate %></span>
            <span style="display: block;">Date filed: <%= x.filingDate %></span>
          </div>
          <div class="col-md-5">

            <span style="display: block;">Securities owned:
              <code style="color: black"><%= x.securities_owned %></code>
            </span>
            <span style="display: block;">Securities transacted: <code style="color: black"><%= x.securities_transacted %></code></span>
            <span class="mt-3">Transaction type: <code style="color: black">(<%= x.transactionType %>)</code></span>


          </div>
          <a href="<%= x.sec_link %>" target="_blank" rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
              <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z" />
            </svg> SEC record</a>
        </div>




      </li>
      <% }) %>
    </ul>

    <div class="mt-5 mb-5">
      <h2>Related stocks</h2>

      <div class="row">
        <% insider_data.related_stocks.map(x=> { %>
        <div class="related_stock_col">
          <a href="/insider/<%= x.ticker.toLowerCase() %>" style="text-decoration: none; color: black">
            <div class="card m-2 related_stock_card" style="display: inline-block; width: 300px; height: 180px" itemScope itemType="https://schema.org/Corporation">
              <div class="card-body">
                <% if (x.logo !==null) { %>
                <img src="<%= x.logo %>" style="width: 45px; height: 45px" alt="<%= x.name %> logo" itemprop="logo" />
                <% } %>
                <div class="card-title">
                  <span itemProp="legalName"> <b>
                      <%= x.name %>
                    </b> </span>
                </div>
                <div class="card-subtitle text-muted">
                  <span itemProp="tickerSymbol">
                    <%= x.ticker %>
                  </span> |
                  <span>
                    <%= x.exchange %>
                  </span>
                </div>

              </div>
            </div>
          </a>
        </div>


        <% }) %>
      </div>


    </div>

    <script>
      const relatedStockCards = document.getElementsByClassName("related_stock_card");
      const relatedStockCols = document.getElementsByClassName("related_stock_col");

      window.addEventListener("DOMContentLoaded", () => {
        //extra lg
        if (window.innerWidth >= 1200) {
          for (let i = 0; i < relatedStockCols.length; ++i) {
            relatedStockCols[i].setAttribute("class", "related_stock_col col-4");
          }
          for (let i = 0; i < relatedStockCards.length; ++i) {
            relatedStockCards[i].style.width = "100%";
          }
        }
        //lg
        else if (window.innerWidth >= 992) {
          for (let i = 0; i < relatedStockCols.length; ++i) {
            relatedStockCols[i].setAttribute("class", "related_stock_col col-6");
          }
          for (let i = 0; i < relatedStockCards.length; ++i) {
            relatedStockCards[i].style.width = "100%";
          }
        }
        //md
        else if (window.innerWidth >= 768) {
          for (let i = 0; i < relatedStockCols.length; ++i) {
            relatedStockCols[i].setAttribute("class", "related_stock_col col-6");
          }
          for (let i = 0; i < relatedStockCards.length; ++i) {
            relatedStockCards[i].style.width = "100%";
          }
        }
        //sm
        else {
          for (let i = 0; i < relatedStockCols.length; ++i) {
            relatedStockCols[i].setAttribute("class", "related_stock_col col-12");
          }
          for (let i = 0; i < relatedStockCards.length; ++i) {
            relatedStockCards[i].style.width = "100%";
          }
        }
      });

      window.addEventListener("resize", () => {
        //extra lg
        if (window.innerWidth >= 1200) {
          for (let i = 0; i < relatedStockCols.length; ++i) {
            relatedStockCols[i].setAttribute("class", "related_stock_col col-4");
          }
          for (let i = 0; i < relatedStockCards.length; ++i) {
            relatedStockCards[i].style.width = "100%";
          }
        }
        //lg
        else if (window.innerWidth >= 992) {
          for (let i = 0; i < relatedStockCols.length; ++i) {
            relatedStockCols[i].setAttribute("class", "related_stock_col col-6");
          }
          for (let i = 0; i < relatedStockCards.length; ++i) {
            relatedStockCards[i].style.width = "100%";
          }
        }
        //md
        else if (window.innerWidth >= 768) {
          for (let i = 0; i < relatedStockCols.length; ++i) {
            relatedStockCols[i].setAttribute("class", "related_stock_col col-6");
          }
          for (let i = 0; i < relatedStockCards.length; ++i) {
            relatedStockCards[i].style.width = "100%";
          }
        }
        //sm
        else {
          for (let i = 0; i < relatedStockCols.length; ++i) {
            relatedStockCols[i].setAttribute("class", "related_stock_col col-12");
          }
          for (let i = 0; i < relatedStockCards.length; ++i) {
            relatedStockCards[i].style.width = "100%";
          }
        }
      });
    </script>

<footer>
  <p class="text-secondary mt-5" style="font-size: 14px">
    Data provided by
    <a style="text-decoration: none; color: inherit" title="FMP Developer Documentation"
      href="https://financialmodelingprep.com/developer/docs/" target="_blank" rel="noreferrer">Financial
      Modeling Prep
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="inherit"
        class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
        <path fill-rule="evenodd"
          d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
      </svg></a><br>This site is not intended for financial advice. Invest at your
    own risk.
  </p>
  <p class="text-secondary mb-5" style="font-size: 14px; max-width: 600px">All trademarks, logos, and brand
    names are the property of their respective owners. All company, product, and service names used in this
    website
    are for identification and informational purposes only. Use of these names, trademarks, and brands does
    not imply
    endorsement.</p>
</footer>

  </div>


</body>

</html>