<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML 5 Boilerplate</title>
  <link rel="stylesheet" href="/bootstrap.min.css" />
</head>

<body>
  <div class="container">
    <% if (insider_data !==null) { %>
    <h1>Insider Trading for <%= insider_data[0].symbol%>
    </h1>
    <% insider_data.map(x=> { %>
    <% if (x.reportingName !==null && x.reportingName !==undefined) { %>
    <div>
        <span style="display: block;"><%= x.reportingName.toLowerCase() %></span>
        <span style="display: block;" class="text-secondary">filling date: <%= x.filingDate %></span>
        <span style="display: block;" class="text-secondary">transaction date: <%= x.transactionDate %></span>
        <span style="display: block;" class="text-secondary">transaction type: <%= x.transactionType %></span>

        <p>At the time of this transaction, <%= x.reportingName.toLowerCase() %> owned <%= x.securitiesOwned %> shares.</p>
        <a href="<%= x.link %>" target="_blank" rel="noreferrer">View official SEC form</a>
    </div>
    <% } %>

    <% }) %>
    <% } %>

  </div>


</body>

</html>