<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Market Overview | StockWasp</title>
  <link rel="stylesheet" href="/bootstrap.min.css" />
  <script src="/bootstrap.min.js"></script>

  <meta name="description" content="Stock coverage on all sectors of the economy along with the biggest gainers and losers in the market today" />
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://stockwasp.com/stock" />
  <meta property="og:image" content="https://stockwasp.com/opengraph_logo.svg" />
  <meta property="og:site_name" content="StockWasp" />
  <meta property="og:title" content="Stock Market Today | StockWasp" />
  <meta property="og:description" content="Discover market trends and the most popular stocks people are talking about" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://stockwasp.com/stock" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="https://stockwasp.com/stock" />
  <meta name="twitter:title" content="Market Overview | StockWasp" />
  <meta name="twitter:description" content="Discover market trends and the most popular stocks people are talking about" />
  <meta name="twitter:image" content="https://stockwasp.com/opengraph_logo.svg" />

  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
  <%- include('./components/googleAnalytics.ejs') %>
</head>

<body>
  <%- include('./components/Nav.ejs', {current_page: 'stock_page' }) %>
  <div class="container pt-5">
    <%- include('./components/Search.ejs') %>

    <h1>Market Overview</h1>

    <%- include('./components/Sectors') %>

    <hr>


    <div class="row mb-5 mt-5 text-center">
      <p>
        <%= stock_data.gainLoss.gainers[0].name %> has today's most significant gains with a <span style="color: green"><svg style="margin-right: -5px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg> <%=
                  stock_data.gainLoss.gainers[0].changesPercentage.toFixed(2) %>%</span> increase in its stock price. <%=
                    stock_data.gainLoss.losers[0].name %> has the most significant drop with a total decrease of <span style="color: red"><svg style="margin-right: -5px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
</svg> <%=
                      stock_data.gainLoss.losers[0].changesPercentage.toFixed(2) %>%</span> for the day.
      </p>
      <div class="col-lg-6">


        <ul class="list-group">
          <% stock_data.gainLoss.gainers.map(x=> { %>
          <li class="list-group-item" style="background-color: rgb(0, 128, 0, 0.1)">
            <div itemScope itemType="https://schema.org/Corporation">
              <a href="/stock/<%= x.symbol.toLowerCase() %>" title="View <%= x.symbol %> stock price and news" style="text-decoration: none" itemprop="url">
                <span itemprop="legalName">
                  <%= x.name %>
                </span>(<span itemprop="tickerSymbol">
                  <%= x.symbol %>
                </span>)
              </a>
              <span style="color: green; margin-left: 10px">+$<%= x.change.toFixed(2) %> (<%=
                            x.changesPercentage.toFixed(2) %>%)</span>
            </div>
          </li>

          <% }) %>
        </ul>
      </div>
      <div class="col-lg-6">


        <ul class="list-group">
          <% stock_data.gainLoss.losers.map(x=> { %>
          <li class="list-group-item" style="background-color: rgb(255, 0, 0, 0.1)">
            <div itemScope itemType="https://schema.org/Corporation">
              <a href="/stock/<%= x.symbol.toLowerCase() %>" title="View <%= x.symbol %> stock price and news" style="text-decoration: none" itemprop="url">
                <span itemprop="legalName">
                  <%= x.name %>
                </span>(<span itemprop="tickerSymbol">
                  <%= x.symbol %>
                </span>)
              </a>
              <span style="color: red; margin-left: 10px">
                <%= x.change.toFixed(2) %> (<%= x.changesPercentage.toFixed(2) %>%)
              </span>
            </div>
          </li>

          <% }) %>
        </ul>
      </div>
    </div>



    <footer>
      <p class="text-secondary mt-5" style="font-size: 14px">
        Data provided by
        <a style="text-decoration: none; color: inherit" title="FMP Developer Documentation" href="https://financialmodelingprep.com/developer/docs/" target="_blank" rel="noreferrer">Financial
          Modeling Prep
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="inherit" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
          </svg></a><br />This site is not intended for financial advice. Invest at your
        own risk.
      </p>
      <p class="text-secondary mb-5" style="font-size: 14px; max-width: 600px">
        All trademarks, logos, and brand names are the property of their
        respective owners. All company, product, and service names used in
        this website are for identification and informational purposes only.
        Use of these names, trademarks, and brands does not imply endorsement.
      </p>
    </footer>
  </div>
</body>

</html>